<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>Home - Turtle Shelter Project</title>
</head>
<body>
  <header>
    <h1>Turtle Shelter Project <br>
        Starts with you
    </h1>
  </header>
  <main>
    <p>Helping to save lives of people experiencing homelessness</p>
    <a href="/volunteer">Join as a Volunteer</a>
  </main>
</body>
</html>
