<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Example App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Congratulations!</h1>
        <p>You successfully created your Elastic Beanstalk App Deployed from CodePipline!</p>
        <button class="cta-button">Get Started</button>
    </div>
</body>
</html>
