<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Turtle Shelter Project</title>

 <!-- Link to your external CSS file -->
 <link rel="stylesheet" href="/styles.css">

 <link rel="preload" href="/Images/Home-Page-Header.jpg" as="image">
</head>
<body>
  <header>
    <div class="header-content">
      <div class="logo">
        
        Turtle Shelter Project
    
      </div>

      <nav>
        <a href="/">Home</a>
        <a href="/loginLanding">Admin Login</a>
        <a href="https://turtleshelterproject.org/checkout/donate?donatePageId=5b6a44c588251b72932df5a0">Donate</a>
        <div class="dropdown">
          <a class="dropdown-toggle">How You Can Help</a>
          <div class="dropdown-menu">
            <a href="/signup">Sign Up</a>
            <a href="/requestEvent">Request Event</a>
          </div>
        </div>

      </nav>
     
      <div class="header-text">
        <p class="tagline">Helping to save lives of people experiencing homelessness</p>
        <h1 class="main-title">STARTS WITH YOU</h1>
        <a href="#learn-more" class="learn-more-btn">Learn More</a>
      </div>
      
    </div>
  </header>
  <main>
    
  <section class="content">
    <h2 class="section-title">What is a Turtle Shelter Vest?</h2>
    <p>
      A <span class="highlight">high-tech but simple solution</span> to help save lives – 
    </p>
    <p>
      a portable "shelter" you can carry with you, just like a turtle... 
    </p>
    <p>
      and <strong>YOU</strong> can help!
    </p>
   
  </section>
   
  </main>
</body>
</html>
